body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgb(96, 221, 213);
  background: linear-gradient(
    180deg,
    rgba(96, 221, 213, 1) 0%,
    rgba(172, 206, 233, 1) 17%,
    rgba(215, 198, 244, 1) 55%,
    rgba(254, 190, 255, 1) 100%
  );
}
html {
  height: 100%;
}
ul,
li,
img,
div,
span,
p {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  html {
    height: 100%;
  }
}
