body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(96, 221, 213);
  background: linear-gradient(
    180deg,
    rgba(96, 221, 213, 1) 0%,
    rgba(172, 206, 233, 1) 17%,
    rgba(215, 198, 244, 1) 55%,
    rgba(254, 190, 255, 1) 100%
  );
}
ul,
li,
img,
div,
span,
p {
  margin: 0;
  padding: 0;
}
